
/*.title-bar {
	-fx-background-color: green !important;	
}*/

.notification-bar > .pane, .notification-bar.dark > .pane {
    -fx-background-color: dialog_background_color;
    -fx-padding: 7 7 7 7;
}

.notification-bar > .pane .title, .notification-bar.dark > .pane .title {
    -fx-background-color: dialog_background_color;
    -fx-font-size: 1.566667em;
    -fx-font-weight: bold;
    -fx-text-fill: accent_color !important;
}

.notification-bar > .pane .label, .notification-bar.dark > .pane .label {
    /*-fx-font-size: 1.166667em; 
    -fx-text-fill: #292929;
    -fx-alignment: top-left;*/
    -fx-text-fill: text_color;
}
